@using BlogSite.Models;
@{Layout = "_Layout";}
@Html.Partial("Header")

<div class="row">
  <div class="col span-1-of-3 box">
    <div class="form-box-post">
    <div class="post-icon">
      <ion-icon name="list-box"></ion-icon>
    </div>
    <div class="edit-button">
      @if(Model.IsLoggedIn())
      {
          <form method="get" action='/blogs/@Model.GetId()/edit'>
              <button type="submit">Edit</button>
          </form>
      }
    </div>
    <br>
    <div>
      <h2>About This Blog</h2>
      <p>@Model.GetAbout()</p>
    </div>
  </div>
  </div>
</div>
    <div class="row">
      <div class="col span-1-of-3 box">
        <div class="form-box-post">
        <div class="post-icon">
          <ion-icon name="sunny"></ion-icon>

        </div>
          <br>
            <h2>Check Out The Posts</h2>
            @if(Model.IsLoggedIn())
            {
            <form method="get" action='/blogs/@Model.GetId()/posts/new'>
            <br>  <button type="submit">Add a New Post</button>
            </form>
            <br>
            }
          @if(Model.GetPosts().Count < 1)


          {
              <h3>There are no posts to display.</h3>
          }
          else

          {
              @foreach(Post post in Model.GetPosts())
              {
                  <br>
                  <h3>@post.GetTitle()</h3>
                  <p>Posted by @Model.GetUsername() on @post.GetDate().ToString("MM-dd-yyyy")</p>
                  <p>@post.GetContentPreview()</p>
                  <a href="/blogs/@Model.GetId()/posts/@post.GetId()">Read more...</a>
                  <br>

              }
              <br>
          }

</div>
</div>
</div>


<div class="row">
  <div class="col span-1-of-3 box">
    <div class="form-box-post">
    <div class="post-icon">
      <ion-icon name="contacts"></ion-icon>
    </div>
    <br>
        <h2>Communities</h2>
        @if(Model.GetCommunities().Count == 0)
        {
            <p>This blog is not currently associated with any communities.</p>
        }
        else
        {
            @foreach(Community community in Model.GetCommunities())
            {
                <a href="/communities/@community.GetId()">@community.GetName()</a>
                @if(Model.IsLoggedIn()){<form action="/blogs/@Model.GetId()/remove/@community.GetId()" method="post"><button type="submit">X</button></form>}
            }
        }

        @if(Model.IsLoggedIn())
        {
            <p id="add-community-link">Add your blog to a new community!</p>
            <form id="add-community-form" action="/blogs/@Model.GetId()/communities/new" method="post">
              <br>
                <select name="selectedCommunity">
                    <option value="0">Select A Community</option>
                    @foreach(Community community in Community.GetAll())
                    {
                        @if(!Model.GetCommunities().Contains(community))
                        {
                        <option value="@community.GetId()">@community.GetName()</option>
                        }
                    }
                </select>
                <button type="submit">+</button>
            </form>
            <br>
            <p>Don't see what you're looking for? <a href="/communities/new">Start a new community!</a></p>
            <br>
        }

      </div>
    </div>
  </div>
</div>
<br>
